# Filesystem:
.DS_Store

# Script-Generated:
development.js
node_modules/
preprocessed/

# Namecheap:
.htaccess
.well-known/
backend/tmp/
nc_assets/

# Firebase:
.firebase/
firebase-debug.log
ui-debug.log
